.main_header{
    width: 100%;
    background-color:#68006C;
}
.header_name{
    color:azure;
    font: small-caps bold 1.2rem sans-serif;
    font-size: 36px;
}

#kitty_id{
    margin-left: 10px;
}

.row{
    margin-right: 0px!important;
}

body{
    overflow-y: auto;
    background-color: #F7C9F7!important;
}

body h2{
    text-align: center;
    color: #2d0444;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 36%;
    border: 10px groove #68006C;
    background: #FDE8FD;
}

.form ol li{
    color: #2d0444;
}
.form ol {
    color: #2d0444;
}

.success-message {
    display: none;
    margin-top: 10px;
    font: small-caps 1.2rem sans-serif;
    font-size: 36px;
    text-align: center;
    color: #68006C;
    background: #FDE8FD;
}

.error-messages{
    margin-top: 10px;
    font: small-caps 1.2rem sans-serif;
    font-size: 28px;
    text-align: center;
    color: #68006C;
    background: #FDE8FD;
}

.error{
    border: 2px solid red;
}
