.main_header{
    width: 100%;
    background-color:#68006C;
}
.header_name{
    color:azure;
    font: small-caps bold 1.2rem sans-serif;
    font-size: 36px;
}

#kitty_id{
    margin-left: 10px;
}

body{
    background-color: #F7C9F7!important;
}

body h2{
    text-align: center;
    color: #2d0444;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 30%;
    border: 10px groove #68006C;
    background: #FDE8FD;
}

.form ol li{
    color: #2d0444;
}
.form ol {
    color: #2d0444;
}
